body{
    padding: 100px;
}
.form-area{
    margin-top: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
#transaction-area{
    display: none;
}
/* transaction area */
.status{
 padding: 20px;
 border-radius: 10px;
 margin: 10px;
 color: white;
}
.deposite{
    background-color: coral;
}
.withdraw{
    background-color: brown;
}
.balnace{
    background-color: dimgray;
}
.transaction{
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
}